<!DOCTYPE html>
<html lang="en">
<head>
    <title>Demande PDF</title>
    <meta charset="UTF-8" />
</head>
<body dir="rtl">
<header>
    <table>
        <tr>
            <td>
                <img src="https://www.entraide.ma/attachements/63ee610678ddb300245a875a-enn.png" alt="logo" width="100" height="100" />
            </td>
            <td>
                <h1>طلب تسجيل</h1>
            </td>
        </tr>
    </table>
</header>
<p><strong>Nom Complet:</strong> [[${demande.nomComplet}]]</p>
<p><strong>Téléphone:</strong> [[${demande.telephone}]]</p>
<p><strong>Email:</strong> [[${demande.email}]]</p>
<p><strong>Association:</strong> [[${demande.association.name}]]</p>
<p><strong>Province:</strong> [[${demande.province.name}]]</p>

</body>
</html>
